{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class = 'row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <h1> {{ title }}</h1>
            {% if confirm_message %}
                <p>{{ confirm_message }}</p>
              {% endif %}

            {% if form %}
                     <form action ="" enctype = "multipart/form-data" method = "POST" class= "form-row" >
                        {% csrf_token %}
                        {{ form|crispy }}

                        <br/><button type="submit" value = " Submit form" class = "btn btn-primary"> Submit</button>
                 </form>
            {% endif %}

        </div>

    </div>

{% endblock %}
